---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          <div class="table-responsive width:100%">
            <table class="table table-sm table-borderless">
            <tr>
              <td width="30%"" height="180">
                <div class="profile-img">
                  {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}
      
                  {% if page.profile.image_cicular %}
                  {%- assign profile_image_class = "img-fluid z-dept-1 rounded-circle" -%}
                  {% else %}
                  {%- assign profile_image_class = "img-fluid z-dept-1 rounded" -%}
                  {% endif %}
      
                  {% include figure.html 
                  path=profile_image_path 
                  class=profile_image_class
                  alt=page.profile.image -%}
                </div>
              </td>
              <td "width:70%">
                <div class="profile-content">
                  <p><b><big>{{ page.profile.name }}</big></b><br>
                  {{ page.profile.degree }}<br>
                  {{ page.profile.group }}<br>
                  {{ page.profile.institute }}<br>
                  {{ page.profile.university }}<br>
                  <br>
                  <b>Email: </b>{{ page.profile.email}}<br>
                  {{ page.profile.location}} <br>
                  </p>
                </div>
              </td>
            </tr>
            
            </table>
          </div>
         
          <div class="statement">
            {{ content }}
          </div>

          {% if page.news -%}
          <!-- News -->
          {%- include news.html %}
          {%- endif %}
          {% if page.selected_papers -%}
            <!-- Selected papers -->
            {%- include selected_papers.html %}
          {%- endif %}
          {%- if page.social %}
          <!-- Social -->
          <div class="social">
            <div class="contact-icons">
            {% include social.html %}
            </div>

            <div class="contact-note">
              {{ site.contact_note }}
            </div>
            
          </div>
          {%- endif %}
        </article>

</div>
